<h2 style="margin-bottom:0; padding-top:20px">[SITE PAGES]</h2>

<div style="padding-top:10px">  
  >  <a href="/">whoami</a>
</div>
<div style="padding-top:10px">  
  >  <a href="/htb.html">
    {% if page.url contains "/boxes/" or page.url contains "htb.html" %}
    <strong style="color:orange">htb writeups</strong>
    {% else %}
    htb writeups
    {% endif %}
  </a>
</div>
<div style="padding-top:10px">
  > <a href="{{site.url}}/chals/ctf/{{ site.ctf_menu[0][1] }}-{{ site.ctf_menu[0][0] }}.html">
    {% if page.url contains "/chals/" %}
    <strong style="color:orange">ctf writeups</strong>
    {% else %}
    ctf writeups
    {% endif %}
  </a>
</div>
<div style="padding-top:10px">
  > <a href="/projects.html">
    {% if page.url contains "/prjct/" or page.url contains "projects.html" %}
    <strong style="color:orange">projects</strong>
    {% else %}
    projects
    {% endif %}
  </a>
</div>
